
#principal{
    width: 1200px;
    height: auto; overflow: hidden;
    border: 0px solid #160d0d;
    margin: auto;
      
}
 
header{
    background: #21135f;
    color: #FFF;
    padding: 10px 30px;

}
 
#logo{
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;

}


#logo img    {                          /* imaagen*/
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}
#logo span   {
    display: inline-block;
  }

  nav     {                           /*empesamos a dar forma a las visitas del menu*/
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
      list-style: none;
      margin: 0;
    }
    nav ul li {
      display: inline-block;
    }
    nav ul li a    {
      color: rgb(223, 236, 212);
      text-decoration: none;
      display: block;
      padding: 10px 15px;
      border-radius: 3px;
      transition: 0.3s ease all;
    }
    nav ul li a:hover   {
        background: #fff;
        color: #006699;
        transition: all 1s, color 1s ;
        
      }

      .contenedor_slider ul{
        display: flex;
        padding: 0;
        width: 300%;
        animation: cambio 20s infinite alternate;
        animation-timing-function: ease-in;
        

      }
      .contenedor_slider li{
        width: 100%;
        list-style: none;

      }
      .contenedor_slider img{
        width: 100%;
      }

      @keyframes cambio {
        0% { margin-left: 0;}
        20% { margin-left: 0;}

        25% {margin-left: -100%;}
        45% {margin-left: -100%;}

        50% {margin-left: -200%;}
        70% {margin-left: -200%;}
      }

      #Actividades{
        width: 1200px;
        height: auto; overflow: hidden;
        border: 0px solid;
        margin-top: 15px;
    }

    .uno{
        width: 380px;
        height: auto; overflow: hidden;
        border: 1px solid rgb(218, 230, 247);
        float: left;
        padding: 5px;
        text-align: center;
        color: #0a141b;
    }
    
    .parrafo{
        color: #130a0a;
        text-align: justify;
    }
    .dos{
        margin-left: 12px;
        margin-right: 12px;
    }
    
    .leer-mas{
        text-decoration: none;
        border: 1px solid #9ac2f0;
        padding: 10px 20px 10px 20px;
        margin-bottom: 10px;
        color: #0a141b;
    }
    
    .leer-mas:hover{
        background: #006699;
        color: #fff;
        transition: all 1s, color 1s;
    }

    #info{
        width: 1200px;
        height: auto; overflow: hidden;
        border: 1px solid #c0c0c0;
        margin-top: 10px;
    }

    .hero{
        
        background:rgb(44, 72, 109);
        color:white;
        position: relative;
        text-align: center;
        top: 20px;
      }
     

      .hero-container{
        
        display: grid;
        grid-template-areas: "badge title form"
                      ". description form"
                      ". countdown form";
        grid-gap:10px;
      }

      .badge{
        grid-area:badge;
      }

      .badge img{
        max-width: 92px;
      }
      .title {
        
        grid-area:title;
        font-weight:normal;
        margin:0;
        display: flex;
        align-items: center;
      }
      
      .countdown{
        grid-area:countdown;

      }
    
      
      .countdown span{
        font-size: 40px;
      }
      
      .description{
        text-align: center;
        grid-area:description;
      }


      /* css del contactate con nosotros*/
      footer{
        margin-top: 30px;
        border: 1px solid #c7c7c7;
        width: 100%;
        background: #343435;
        color: white;
        position: relative;
        height: 320px;
      }
      
      
      
      .contenedor_grande{
        display: flex;
      
      }
      .colum1{
        max-width: 400px;
        position: relative;
        left: 30px;
      
      }
      .colum1 h1{
        font-size: 22px;
      }
      .colum1 p{
        font-size: 14px;
        color: #c7c7c7;
        margin-top: 20px;
      }
      .colum2{
        max-width: 400px;
        position: relative;
        left: 90px;
      
      }
      .colum2 h1{
        font-size: 22px;
      }
      .colum2.row{
        margin-top: 20px;
      }
      .row{
        margin-top: 20px;
        display: flex;
      }
      .row img{
        width: 36px;
        height: 36px;
      }
      .row label{
        margin-top: 10px;
        margin-left: 20px;
        color: #c7c7c7;
      
      }
      .colum3{
        max-width: 400px;
        position: relative;
        left: 195px;
      }
      .colum3 h1{
        font-size: 22px;
      
      }
      .row2{
        margin-top: 20px;
      
      }
      .row2 img{
        width: 36px;
        height: 36px;
      }
      .row2 label{
        margin-left: 20px;
        max-width: 140px;
        margin-top: 10px;
      }

        /*CSS CURSOS*/

  body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    
  }

  .container{
    background-color: #ddd;
    width: 95%;
    padding: 10px; 
    margin: 100px auto;
    display: flex;
    justify-content: center;
    top: -70px;
    position: relative;
  }

  

  .movimiento{
    text-align: center;
    color: #0a141b;
    width: 230px;
    height: 250px;
    background: rgb(44, 33, 187);
    float: left;
    margin: 0px 10px;
    transition: 1s;
    border-radius: 5px;
  }

  .movimiento:hover{
    transform: scale(1,1);
    background: rgb(55, 15, 234);
    box-shadow: 2px 2px 2px #222;
    z-index: 2;
  }

  .titulo_cursos{
    text-align: center;
    color: black;
    display: inline-block;
    position: relative;
    font-family: 'Dancing Scrip',cursive;
  }

  .titulo_cursos::after, .titulo_cursos::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 3pxs;
    background-color:currentColor;
    top: 0.7em;
  }
  .toto{
    position: relative;
    text-align: center;
    top: 40px;
   
  }

  .titulo_servicios::before{
    left: -140px;
  }
  .titulo_servicios::after{
    right: -140px;
  }



  /*CSS IMAGEN*/

  img.iconos{
    display:  block;
    margin: 45px auto;
    background-color: rgba(255, 255, 255,.15);
  }

  .texto_imagenes a{
    color: #fff;
    line-height: 25px;
    letter-spacing: .1em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  .movimiento:hover p.texto_imagenes{

    padding-top: 20px;
  }
  .movimiento:hover{
     height: 250px;
  }




      

      